**Question 1
Try 5 Different functions of the String in Python.
For example - index, split function.**

In [32]:
#creating a string
string_1 = 'this is my first string, for letsupgrade assignment.'
print(string_1)

this is my first string, for letsupgrade assignment.

In [33]:
print(str.upper(string_1))
#turns the hole string into uppercase.

THIS IS MY FIRST STRING, FOR LETSUPGRADE ASSIGNMENT.

In [51]:
#prints the index no. of the first letter of argument given
print(string_1.index('letsupgrade'))
print(string_1.index('string'))
print(string_1.index('assignment'))

29
17
41

In [52]:
print(string_1.split(','))
#splits the string from where it finds a comma(,)

['this is my first string', ' for letsupgrade assignment.']

In [54]:
print(str.capitalize(string_1))
#turns the first letter of the string into uppercase

This is my first string, for letsupgrade assignment.

In [55]:
print(len(string_1))
#prints the length of the string

52

In [57]:
#this slicing function of string

#print the charecter lies between index 10 to 25
print(string_1[10:25])

#print the charecter till index 25
print(string_1[:25])

#print all the charecter starting from index 10
print(string_1[10:])

#print the string by skipping every 2 character
print(string_1[::2])

 first string,
this is my first string,
 first string, for letsupgrade assignment.
ti sm is tig o esprd sinet

**Question 2
Try 5 Different functions of the List object in Python**

In [112]:
#creating the list 
lst = [1, 2, 'apple', 'ball', 4+5j, 'true']
lst

[1, 2, 'apple', 'ball', (4+5j), 'true']

In [113]:
#reverse a list
list.reverse(lst)
print(lst)

['true', (4+5j), 'ball', 'apple', 2, 1]

In [114]:
#adding an element in the list
lst.append('letsupgrade')
print(lst)

['true', (4+5j), 'ball', 'apple', 2, 1, 'letsupgrade']

In [115]:
#remove an element from the list
lst.remove((4+5j))
print(lst)

['true', 'ball', 'apple', 2, 1, 'letsupgrade']

In [124]:
#sorts the list item in acsending order or in alphabatical order
lst_1 = [1, 78, 63, 12, 52, 45, 0, 8]
lst_1.sort()
print(lst_1)

lst_2 = ['ball', 'fish', 'apple', 'cat', 'egg', 'dog']
lst_2.sort()
print(lst_2)

[0, 1, 8, 12, 45, 52, 63, 78]
['apple', 'ball', 'cat', 'dog', 'egg', 'fish']

In [130]:
lst_2.index('dog')
#returns the index of the element

3

**Question 3
Experiment with at least 5 default functions of Dictionary**

In [135]:
#creating a dictionary 
student = {'Name':'Rahul Sharma', 'Roll no.': 1045, 'Total Marks': 600, 'Marks Obtained': 515, 'Rank': 2}
student

{'Marks Obtained': 515,
 'Name': 'Rahul Sharma',
 'Rank': 2,
 'Roll no.': 1045,
 'Total Marks': 600}

In [137]:
print(student.keys())

dict_keys(['Name', 'Roll no.', 'Total Marks', 'Marks Obtained', 'Rank'])

In [138]:
print(student.values())

dict_values(['Rahul Sharma', 1045, 600, 515, 2])

In [140]:
print(student.get('Marks Obtained'))

515

In [145]:
student.update({'Class': 10})
student

{'Class': 10,
 'Marks Obtained': 515,
 'Name': 'Rahul Sharma',
 'Rank': 2,
 'Roll no.': 1045,
 'Total Marks': 600}

In [147]:
student.items()

dict_items([('Name', 'Rahul Sharma'), ('Roll no.', 1045), ('Total Marks', 600), ('Marks Obtained', 515), ('Rank', 2), ('Class', 10)])

In [148]:
student.copy()

{'Class': 10,
 'Marks Obtained': 515,
 'Name': 'Rahul Sharma',
 'Rank': 2,
 'Roll no.': 1045,
 'Total Marks': 600}